body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.title-section {
    background-color: #2e2f42;
    padding: 188px 472px 292px 472px;
    text-align: center;
    color: #ffffff;
}
.title-container {
    width: 1440px;
    height: 600px;
    margin: auto;
    padding: 0 15px;
}
.title {    
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;    
    text-align: center;
    
}
h2 {    
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
h3 {    
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}
.button-order-service {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button-order-service:hover,
.button-order-service:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    background: #404bbf;
    border-radius: 4px;
    width: 169px;
    height: 56px;
}
button {
    cursor: pointer;
}
.email {
    color: #434455;
}
.email:hover,
.email:focus {
    color: #404bbf;
}

.tel {
    color: #434455;
}
.tel:hover,
.tel:focus {
    color: #404bbf;
}